body {
    margin: 0px;
}
.sq500 {
    width: 500px;
    height: 500px;
}
.overflow-hidden {
    overflow: hidden;
}

.flex {
    display: flex;
}
.justify-content-center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}
.full-height {
    height: 100vh;
}
.full-width {
    width: 100vw;
}

.position-abs {
    position: absolute;
    top: 0;
    left: 0;
}

.result.position-abs {
    top: 337px;
    left: 610px;
    width: 661px;
    height: 234px;
    display: none;
}

.result.active {
    display: block;
}

#code-img {
    top: 259px;
    left: 625px;
    width: 350px;
    height: 85px;
}

#check-img {
    top: 558px;
    left: 609px;
    width: 277px;
}

#code {
    top: 267px;
    left: 628px;
    width: 338px;
    height: 64px;
    font-size: 33px;
    text-align: center;
}

#check {
    top: 566px;
    left: 626px;
    width: 239px;
    height: 79px;
}

#text {
    padding-top: 4px;
    top: 367px;
    left: 629px;
    width: 623px;
    height: 166px;
    font-size: 31px;
    color: #59595a;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scanner {
    left: 132px;
    top: 215px;
    width: 466px;
}

.overflow-hidden {
    overflow: hidden;
}

#preview {
    height: 467px;
}

.overlay {
    background: white;
    z-index: 2;
    width: 1366px;
    height: 768px;
    opacity: 0.5;
}

.overlay > #loading {
    display: block;
}

#loading {
    display: none
}